## .gitIgnore for bestBot ##

#Media Directories
node_modules/
Clips/
Depresso/
EarRp/
Pics/

#Data Mgmt & Token JSON Files
Data_Management/

#Heroku (Depreciated)
Procfile

#Miscallaneous
Ideas.txt
embed_commands.txt
.DS_Store
Logo_Files/.DS_Store