## .gitIgnore for mookBot ##

#Media Directories
node_modules/
Clips/
Depresso/
EarRp/
Pics/
RPS_clipart/

#Data Mgmt & Token JSON Files
Data_Management/

#Heroku (Depreciated)
Procfile

#Miscallaneous
package-lock.json
Ideas.txt
embed_commands.txt